body {
    margin: 0;
    background-color: #f7f5f5 !important;
    color: #1F4167;
    
}

nav {
    height: 50px;
}

.heading {
    font-size: 30px;
    font-weight: 100px;
    margin-top: 10px;
    letter-spacing: 3px;
}

#menu {
    width: 100%;
    height: 60px;
    display: inline-flex;
    margin-top: 30px;
    justify-content: flex-end;
    
}

#menu li {
    margin-left: 20px;
    list-style: none;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}


/* .how-it-works-box {
    i want the boxes to be constant in size
} */

.how-it-works-heading {
    margin-top: 30px;
}

.what_we_offer_images {
    margin: 0 auto;
    height: 800px;
    width: 200px;
    background-color: #1F4167;
    
}