{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bluebell ceramics</title>
</head>
<body>
    <header>

         <!-- Navigation -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
              <a class="navbar-brand" href="#"><h1 class="heading">Studio Ceramics</h1></a>
              <div class="collapse navbar-collapse" id="navbarText">
              <ul id="menu">
                <li>
                    <a href="{% url 'home' %}">
                    <p class="nav-link prov">Home</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'services' %}">
                        <p class="nav-link prov">Services</p>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'booknow' %}">
                        <p class="nav-link prov">Book now</p>
                    </a> 
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'mybookings' %}">
                        <p class="nav-link prov">My bookings</p>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'account_logout' %}">
                        <p class="nav-link prov">Logout</p>
                    </a> 
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_signup' %}">
                        <p class="nav-link prov">Register</p>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'account_login' %}">
                        <p class="nav-link prov">Login</p>
                    </a> 
                </li>
                {% endif %}
            </ul>
            </nav>
          </div>
        </div>
    </header>

    <!-- This Code get the messages from functions in views.py and displays them -->
    <br/>
    <div class="container alert-dismissible">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dark alert-dismissible" id="myAlert">
            {{ message | safe }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>

        {% endfor %}
    {% endif %}
    </div>
    
   
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}


<script>
$(document).ready(function(){
    $(".close").click(function(){
    $("#myAlert").alert("close");
    });
});
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/f56f5ae272.js" crossorigin="anonymous"></script>
</body>
</html>