{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bluebell ceramics</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
              <a class="navbar-brand" href="#"><h1 class="heading">Studio Ceramics</h1></a>
              <ul id="menu">
                <li>
                    <a href="{% url 'home' %}">
                    <p class="nav-link prov">Home</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'services' %}">
                        <p class="nav-link prov">Services</p>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'booknow' %}">
                        <p class="nav-link prov">Book now</p>
                    </a> 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#"></a>
                      <a class="dropdown-item" href="#"></a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"></a>
                    </div>
                  </li>
            </ul>
            </nav>
          </div>

 <!-- Navigation -->

<!-- <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link text-white" href="{% url 'services' %}">Services</a></li>
<li class="nav-item"><a class="nav-link text-white" href="{% url 'booknow' %}">Book now</a></li> -->

    
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}

<script src="https://kit.fontawesome.com/f56f5ae272.js" crossorigin="anonymous"></script>
</body>
</html>