{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
      <div class="row p-3">
        <div class="col-lg-6 p-4 bg-dark about-container text-white border border-light">
          <h3 data-aos="zoom-in" data-aos-duration="2000">The Story</h3>
          <p data-aos="zoom-in" data-aos-duration="1000">
             This is karin and thomas, the founders of Bluebell Ceramics and this is the story of
             how the company grew in just a few years.
             As creative souls, they both dreamed of a place where they could gather their friends and create together.
             They opened up their home in the evenings and painted cups with anyone who wanted to come.
             During the day, they both worked as designers at a small company.
             After a year, they dared to follow their dream and bought a premises. 
             Which is now a warm and inviting place for everyone who wants to learn to turn or gather around brushes, 
             color and playful creation.
          </p>
          <h5 data-aos="zoom-in" data-aos-duration="2000">You are most welcome to visit us 
            <hr>
            / Karin & Thomas</h5>
        </div>
        <div class="d-none d-lg-block col-lg-6 img-about-container">
            <img src="{% static 'img/ceramics7.jpg' %}" class="img-fluid border border-light" alt="founders">
        </div>
      </div>
  
    </div>
  </section><!-- End About Section -->
{% endblock %}