{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
      <div class="row p-3">
        <div class="col-lg-6 p-4 bg-dark about-container">
          <h3>Bluebell Ceramic is a space of creativity and association</h3>
          <p>
            We're proud to have received Trip Advisor's 2020 "Travelers' Choice Best of the Best Award" ranked amongst the
            top 10% around the world, as well as Wine Spectator's Award of Excellence for offering a more extensive wine
            selections with significant vintage depth and excellent breadth across multiple regions.
          </p>
        </div>
        <div class="d-none d-lg-block col-lg-6 bg-dark img-about-container" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-img">
            <img src="/static/img/ceramics7.jpg" class=" img-fluid border border-light" alt="founders">
        </div>
        </div>
      </div>
  
    </div>
  </section><!-- End About Section -->
{% endblock %}