{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<section class ="content-2">
    {% if user.is_authenticated %}
    <div class ="container border mt-3 d-flex justify-content-center align-items-center h-100">
        <div class = "row">
            <div class ="col-md-6 p-5 text-center slidein-container">
                <div class="slideInLeft slidein-content d-none d-md-block">
                    <h3>Let the creativity flow!</h3>
                    <h6 class="pt-3">Just choose your date and time</h6>
                    <h6 class="pt-3">Come by yourself</h6>
                    <h6 class="pt-3">Or take all your friends with you</h6>
                </div>
            </div>
            <div class = "col-md-6 py-3 booknow-page">
                <h2 class="text-center">Book your session</h2>
                <div class="booknow-container">
                    <div class = "form-group mt-4">
                        <form method="POST" action="{% url 'booknow' %}" name="form">
                            {% csrf_token %}
                            {{ form|crispy }}
                                                
                                <button class="btn btn-dark mt-3 form-btn" type="submit">Submit
                                    Booking
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% else %}
        <!-- the page show when click on book now if not member  -->
        <div class = "booking_page_not_member p-5">
            <div class = "border p-5">
                <p >To make a booking, please <a href="/accounts/login/">login</a></p>
                <p>If you have not created an account yet, then please <a href="/accounts/signup/">sign up</a></p>
            </div>
        </div>
        {% endif %}
</section>

{% endblock %}