{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid text-center">
    <h3>Hello, {{ user.username }}!</h3>
    <p>Welcome to Bluebell Ceramics <br> please book a session and let your creativity flow</p>
    <a class="btn btn-dark btn-lg button-style mt-3" href="{% url 'booknow' %}" role="button">Book now!</a>
</div>
{% else %}
<div class="jumbotron jumbotron-fluid text-center">
    <h4>Welcome to Bluebell Ceramics</h4>
    <p>Please register to book a session and let your creativity flow</p>
    <a class="btn btn-dark btn-lg button-style mt-3" href="{% url 'booknow' %}" role="button">Book now!</a>
</div>

{% endif %}
<section>
    <div class = "container px-4 how-it-works-container">
        <h3 class="text-center">How it works:</h3>
        <div class="row gx-5">
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Book</p>
                <i class="fa-solid fa-calendar-days"></i>
            </div>
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Create your Ceramic</p>
                <i class="fa-solid fa-plate-wheat"></i>
            </div>
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Paint your Ceramic</p>
                <i class="fa-solid fa-paintbrush"></i>
            </div>
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Pick up after 1 week</p>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container what-we-offer-container">
        <div class="row">
            <h3 class="col-12 text-center">What we offer</h3>
            <div class="col-12 col-md-6 text-center">Paint</div>
            <div class="col-12 col-md-6 text-center">Turn</div>
        </div>
    </div>
</section>


{% endblock %}