{% extends "base.html" %}
{% load static %}
{% block content %}

<section>
    <div class="image-container d-none d-lg-block">
        <div class="header-image d-flex justify-content-center align-items-center h-100" id="myHeader">
            <div class = "">
                <h2 class="mb-3">Bluebell Ceramics</h2>
                <p class="mb-4 text-center">Let your creativity flow!</p>
            </div>
        </div>
    </div>
</section>

</div>
{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid text-center">
    <h3>Hello, {{ user.username }}!</h3>
    <p>Welcome to Bluebell Ceramics <br> please book a session and let your creativity flow</p>
    <a class="btn btn-dark btn-lg button-style mt-3" href="{% url 'booknow' %}" role="button">Book now!</a>
</div>
{% else %}
<div class="jumbotron jumbotron-fluid text-center">
    <h4>Welcome to Bluebell Ceramics</h4>
    <p>Please register to book a session and let your creativity flow</p>
    <a class="btn btn-dark btn-lg button-style mt-3" href="{% url 'booknow' %}" role="button">Book now!</a>
</div>

{% endif %}

<section class = "content-1">
    <div class = "container how-it-works-container">
        <h3 class="text-center">How it works:</h3>
        <div class="row gx-5">
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Book</p>
                <i class="fa-solid fa-calendar-days"></i>
            </div>
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Create your Ceramic</p>
                <i class="fa-solid fa-plate-wheat"></i>
            </div>
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Paint your Ceramic</p>
                <i class="fa-solid fa-paintbrush"></i>
            </div>
            <div class = "col-12 col-md-3 mt-3 how-it-works-box p-5 border text-center">
                <p>Pick up after 1 week</p>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
        </div>
    </div>

<!-- what we offer section -->
<div class="container what-we-offer-container">
    <h3 class="text-center">What we offer:</h3>

    <!-- card visible for screen bigger then lg (turn)-->
    <div class ="row mt-4 d-flex justify-content-evenly">
        <div class="col-12">
            <div class = "card d-none d-lg-block">
                <div class = "row g-0">
                    <div class = "col-6 d-none d-lg-block">
                        <!-- <img src="/static/img/ceramics6.jpg" class="card-img img-fluid" alt="paint" height="400px"> -->
                        <img src="{% static 'img/ceramics6.jpg' %}" class="card-img img-fluid" alt="paint" height="400px">
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center h-100">
                        <div>
                            <h3 class = "text-center mt-4">Pottery</h3>
                            <p>
                            If you want to get your hands dirty and create your own shapes of ceramic. For example, 
                            statues, mugs, candlesticks, plates and bowls. Book a session of turn.
                            You get guidance and help from our talented turners. A booked appointment is a maximum of 4 hours long.
                            We burn your beautiful creations, which are ready to pick up after 1 week. If you wish to paint your own pottery when it's ready, 
                            you are most welcome to book an appointment to paint it.</p>
                            <button class="btn btn-outline-light" onclick="showprice_Pottery()">Prices</button>
                            <div id="price_list_pottery">
                                <ul class="list-group">
                                    <li class="list-group-item disabled">Prices per person:</li>
                                    <li class="list-group-item">1 hour: 299;-</li>
                                    <li class="list-group-item">2 hours: 399;-</li>
                                    <li class="list-group-item">3 hours: 499;-</li>
                                    <li class="list-group-item">4 hours: 599;-</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- card visible for screen bigger then lg (paint)-->
    <div class ="row mt-4 d-flex justify-content-evenly">
        <div class="col-12">
            <div class = "card d-none d-lg-block">
                <div class = "row g-0">
                    <div class="col-6 d-flex justify-content-center align-items-center h-100 p-4">
                        <div>
                            <h3 class = "text-center">Paint</h3>
                            <p>We have many different ceramic objects to choose from, so you will find exactly what you want to paint.
                                A session with us is 2 hours and you pay per object that you paint. You can click button below to see price example. This prices includes the use of materials such as paints, 
                                brushes and other tools, as well as that we glaze and burn what you have painted, which is then ready to be picked up after a week.
                            </p>
                            <button class="btn btn-outline-light" onclick="show_pricePaint()">Prices</button>
                            <div id="price_list_paint">
                                <ul class="list-group">
                                    <li class="list-group-item disabled">Price exempel:</li>
                                    <li class="list-group-item">coffee cup: 199;-</li>
                                    <li class="list-group-item">Plate big: 299;-</li>
                                    <li class="list-group-item">Plate small: 150;-</li>
                                    <li class="list-group-item">Vase small: 199;-</li>
                                    <li class="list-group-item">Vase big: 399;-</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class = "col-6 d-none d-lg-block">
                        <!-- <img src="/static/img/ceramics4.jpg" class="card-img img-fluid" alt="paint" height="400px"> -->
                        <img src="{% static 'img/ceramics4.jpg' %}" class="card-img img-fluid" alt="paint" height="400px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- card visible for screen smaller then lg (turn)-->
    <div class ="row mt-4">
        <div class="col-12">

            <div class = "card d-block d-lg-none">
                <div class = "row d-flex justify-content-center align-items-center h-100">
                    <div class="col-6">
                        <div class="text-center">
                            <h3>Pottery</h3>
                        </div>
                    </div>
                    <div class = "row d-flex justify-content-center align-items-center">
                        <div class = "col-6">
                            <!-- <img src="/static/img/ceramics6.jpg" class="card-img img-fluid border border-light" alt="paint" height="400px"> -->
                            <img src="{% static 'img/ceramics6.jpg' %}" class="card-img img-fluid" alt="paint" height="400px">
                        </div>
                    </div>
                    <div class = "row d-flex justify-content-center align-items-center">
                        <div class ="col-8 mt-4">
                            <p>
                            If you want to get your hands dirty and create your own shapes of ceramic. For example, 
                            statues, mugs, candlesticks, plates and bowls. Book a session of turn.
                            You get guidance and help from our talented turners. A booked appointment is a maximum of 3 hours long.
                            We burn your beautiful creations, which are ready to pick up after 1 week. If you wish to paint your own pottery when it's ready, 
                            you are most welcome to book an appointment to paint it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card visible for screen smaller then lg(paint)-->
    <div class ="row mt-4">
        <div class="col-12">

            <div class = "card d-block d-lg-none">
                <div class = "row d-flex justify-content-center align-items-center">
                    <div class="col-6">
                        <div class="text-center">
                            <h3>Paint</h3>
                        </div>
                    </div>
                    <div class = "row d-flex justify-content-center align-items-center">
                        <div class = "col-6">
                            <!-- <img src="/static/img/ceramics4.jpg" class="card-img img-fluid border border-light" alt="paint" height="400px"> -->
                            <img src="{% static 'img/ceramics4.jpg' %}" class="card-img img-fluid" alt="paint" height="400px">
                        </div>
                    </div>
                    <div class = "row d-flex justify-content-center align-items-center">
                        <div class ="col-8 mt-4">
                            <p>We have many different ceramic objects to choose from, so you will find exactly what you want to paint.
                                A session with us is 2 hours and you pay per object that you paint. As a price example, a mug in standard 
                                size costs SEK 299 and most items are in the price range SEK 219-379. This includes the use of materials such as paints, 
                                brushes and other tools, as well as that we glaze and burn what you have painted, which is then ready to be picked up after a week.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

<script>
    // Show pricelist on click
    function showprice_Pottery() {
      var x = document.getElementById("price_list_pottery");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    // Show pricelist on click
    function show_pricePaint() {
      var y = document.getElementById("price_list_paint");
      if (y.style.display === "none") {
        y.style.display = "block";
      } else {
        y.style.display = "none";
      }
    }
</script>


{% endblock %}