{% extends "base.html" %}

{% block content %}
<h1>My bookings</h1>

{% for booking in bookings %}
<div class="container mt-10">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h5 class="card-header">Manage your booking</h5>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ booking.name }} have booked {{ booking.service }}</h5>
                    <p class="card-text">On: {{ booking.date }}</p>
                    <p class="card-text">At: {{ booking.time }}</p>
                    <p class="card-text">Guests: {{ booking.guests }}</p>
                    <p class="card-text">Email: {{ booking.email }}</p>
                    <p class="card-text">Phone: {{ booking.phone }}</p>
                    <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_booking' booking.id %}" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal-{{ booking.id }}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal-{{ booking.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this booking?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'delete_booking' booking.id %}" class="btn btn-warning">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <!-- onclick="$('#exampleModal').modal('hide');" -->




  {% empty %} <p>You have no bookings currently</p>
  {% endfor %}
  {% endblock %}

